.projects {
  background-color: #1e1e1f;
  border: 3px #1e1e1f solid;
  overflow: hidden;
}

/* hide the scrollbar */
.tablist {
  /*FireFox*/
  scrollbar-width: none;
  /*IE10+*/
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.tablist::-webkit-scrollbar {
  /*Chrome, Safari, Edge*/
  display: none;
}
