.slogan {
  font-style: normal;
  font-weight: 700;
  line-height: 5.625rem;
  letter-spacing: 0.0725rem;
}

@media (max-width: 768px) {
  .slogan {
    line-height: 3rem;
  }
}

.contact {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.02rem;
  background: #2c64ec;
  border-radius: 5px;
  padding: 1rem 2rem;
  opacity: 85%;
  display: inline-block;
  border-radius: 0.5rem;
}

.highlight {
  color: #2c64eb;
}
