@tailwind base;
@tailwind components;
@tailwind utilities;

.slogan {
  color: #000;
  font-size: 3.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.625rem; /* 155.172% */
  letter-spacing: 0.0725rem;
}

.highlight {
  color: #2c64eb;
  font-size: 3.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.625rem;
  letter-spacing: 0.0725rem;
}
